
body{
    font-family: 'Poppins', sans-serif;
    background-color: grey;
    height: 100vh;
    display : flex;
    background: URL(IMG-20250410-WA0002.jpg) no-repeat center center;
    background-size: cover;
    justify-content: center;
   align-items: center;
    margin: 0;
   
}


.container {
    
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
    
}


h1 {
    font-size: 24px;
    margin-bottom: 35px;
    font-family: cursive;
    font-size: 50px;
    
}


.clock {
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}


.clock span {
    margin: 5px;
    color : white;
}

#ampm {
    font-size: 20px;
    margin-left: 10px;
   
}

header {
   
   
 
    font-size: 24px;
}
